
.titulo{
    background-color: #f1c607;
    font-family: Verdana;
    text-align: center;
    margin: 0%;
    line-height: 1;
}
p{
    font-family: 'Gill Sans';
    text-align: center;
 
}
form{
    text-align: center;
}



